<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="../css/list_contactos.css">
<link rel="stylesheet" href="/css/servicios.css">
<link rel="stylesheet" href="/css/informacion.css">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/contacto.css">
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

<meta property="og:title" content="<%= ogTitle || pageTitle %>">
<meta property="og:description" content="<%= ogDescription || 'Ciclexpress, taller de bicicletas y patinetas.' %>">
<meta property="og:type" content="website">
<meta property="og:url" content="<%= ogUrl || 'http://localhost:3000' %>">
<meta property="og:image" content="<%= ogImage || '/img/og-default.png' %>">
</head>


<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K44B2M06FN"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-K44B2M06FN');
</script>

